# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which may contain sensitive data
*.tfvars
*.tfvars.json
!*.tfvars.example

# Ignore override files as they are usually used for local customization
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Lock file is usually committed, uncomment to ignore
# .terraform.lock.hcl
